body {
  background-color: lightgray;
}

h1 {
  color: navy;
  margin-left: 10px;
}

main {
  margin: 0;
  padding: 5px;
  background-color: lightgray;
}

main > h1,
p,
.browser {
  margin: 10px;
  padding: 5px;
}

.browser {
  background: white;
}

.browser > h2,
p {
  margin: 4px;
  font-size: 90%;
}
